﻿<h4>Search Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchResults">
            <div class="form-group">
                <label for="ID" class="control-label">ID</label>
                <input name="ID" class="form-control" />
            </div>
            <div class="form-group">
                <label for="name" class="control-label">Name</label>
                <input name="name" class="form-control" />
            </div>
            <div class="form-group">
                <label for="course" class="control-label">Course</label>
                <input name="course" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
